.main-header {

  height: 400px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  z-index: 1;

  background-color: #a38d00;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");;
  
}

 .main-header img {
  
  top: 80px;
  position: relative;
  height: 8em;
  width: 8em;
  
}

.main-header h2 {
  
  top: 30px;
  position: relative;
  color: #FFFFFF;

}