form {

  display: flex;
  
  flex-direction: column;
  
}

label {
  text-align: left;
  
  font-family: "Source Sans Pro";
  font-weight: bold;

  padding-bottom: 5px;
}

form div {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

form textarea {
  background: transparent;

  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: solid;
  border-width: .25em;

  border-color:black;

  line-height: 100%;

  font-family: "Source Sans Pro";
  font-size: 80%;
  font-weight: bold;

}

form div button {
  display: flex;
  
  margin-top: 10px;

  font-family: "Bungee";

  color: #FFFFFF;
  background-color: #4056A1;
}

form div output {
  display: flex;

  margin-top: 10px;

  font-family: "Bungee";
  
}

